src/test/resources/testData.dtd

<!ELEMENT dataset (
    CPT_EVENT*,
    ENCOUNTER*,
    ICD9D_EVENT*,
    ICD9P_EVENT*,
    LABS_EVENT*,
    MEDS_EVENT*,
    PATIENT*,
    PROVIDER*,
    VITALS_EVENT*)>

<!ELEMENT CPT_EVENT EMPTY>
<!ATTLIST CPT_EVENT
    EVENT_KEY CDATA #REQUIRED
    ENCOUNTER_KEY CDATA #REQUIRED
    TS_OBX CDATA #IMPLIED
    ENTITY_ID CDATA #REQUIRED
>

<!ELEMENT ENCOUNTER EMPTY>
<!ATTLIST ENCOUNTER
    ENCOUNTER_KEY CDATA #REQUIRED
    PATIENT_KEY CDATA #REQUIRED
    PROVIDER_KEY CDATA #REQUIRED
    TS_START CDATA #IMPLIED
    TS_END CDATA #IMPLIED
    ENCOUNTER_TYPE CDATA #IMPLIED
    DISCHARGE_DISP CDATA #IMPLIED
>

<!ELEMENT ICD9D_EVENT EMPTY>
<!ATTLIST ICD9D_EVENT
    EVENT_KEY CDATA #REQUIRED
    ENCOUNTER_KEY CDATA #REQUIRED
    TS_OBX CDATA #IMPLIED
    ENTITY_ID CDATA #REQUIRED
    RANK CDATA #REQUIRED
    SOURCE CDATA #REQUIRED
>

<!ELEMENT ICD9P_EVENT EMPTY>
<!ATTLIST ICD9P_EVENT
    EVENT_KEY CDATA #REQUIRED
    ENCOUNTER_KEY CDATA #REQUIRED
    TS_OBX CDATA #IMPLIED
    ENTITY_ID CDATA #REQUIRED
>

<!ELEMENT LABS_EVENT EMPTY>
<!ATTLIST LABS_EVENT
    EVENT_KEY CDATA #REQUIRED
    ENCOUNTER_KEY CDATA #REQUIRED
    TS_OBX CDATA #IMPLIED
    ENTITY_ID CDATA #REQUIRED
    RESULT_STR CDATA #IMPLIED
    RESULT_NUM CDATA #IMPLIED
    UNITS CDATA #IMPLIED
    FLAG CDATA #IMPLIED
>

<!ELEMENT MEDS_EVENT EMPTY>
<!ATTLIST MEDS_EVENT
    EVENT_KEY CDATA #REQUIRED
    ENCOUNTER_KEY CDATA #REQUIRED
    TS_OBX CDATA #IMPLIED
    ENTITY_ID CDATA #REQUIRED
>

<!ELEMENT PATIENT EMPTY>
<!ATTLIST PATIENT
    PATIENT_KEY CDATA #REQUIRED
    FIRST_NAME CDATA #IMPLIED
    LAST_NAME CDATA #IMPLIED
    DOB CDATA #IMPLIED
    LANGUAGE CDATA #IMPLIED
    MARITAL_STATUS CDATA #IMPLIED
    RACE CDATA #IMPLIED
    GENDER CDATA #IMPLIED
>

<!ELEMENT PROVIDER EMPTY>
<!ATTLIST PROVIDER
    PROVIDER_KEY CDATA #REQUIRED
    FIRST_NAME CDATA #IMPLIED
    LAST_NAME CDATA #IMPLIED
>

<!ELEMENT VITALS_EVENT EMPTY>
<!ATTLIST VITALS_EVENT
    EVENT_KEY CDATA #REQUIRED
    ENCOUNTER_KEY CDATA #REQUIRED
    TS_OBX CDATA #IMPLIED
    ENTITY_ID CDATA #REQUIRED
    RESULT_STR CDATA #IMPLIED
    RESULT_NUM CDATA #IMPLIED
    UNITS CDATA #IMPLIED
    FLAG CDATA #IMPLIED
>

