src/test/resources/truth/i2b2LoadTestData.dtd

<!ELEMENT dataset (
    ARCHIVE_OBSERVATION_FACT*,
    CONCEPT_DIMENSION*,
    EK_REJECTED_OBSERVATION_FACT*,
    EK_TEMP_CONCEPT*,
    EK_TEMP_ENCOUNTER_MAPPING*,
    EK_TEMP_MODIFIER*,
    EK_TEMP_OBSERVATION*,
    EK_TEMP_OBSERVATION_COMPLETE*,
    EK_TEMP_PATIENT*,
    EK_TEMP_PATIENT_MAPPING*,
    EK_TEMP_PROVIDER*,
    EK_TEMP_VISIT*,
    ENCOUNTER_MAPPING*,
    MODIFIER_DIMENSION*,
    OBSERVATION_FACT*,
    PATIENT_DIMENSION*,
    PATIENT_MAPPING*,
    PROVIDER_DIMENSION*,
    REJECTED_OBSERVATION_FACT*,
    VISIT_DIMENSION*,
    DATABASECHANGELOG*,
    DATABASECHANGELOGLOCK*)>

<!ELEMENT ARCHIVE_OBSERVATION_FACT EMPTY>
<!ATTLIST ARCHIVE_OBSERVATION_FACT
    ENCOUNTER_NUM CDATA #IMPLIED
    PATIENT_NUM CDATA #IMPLIED
    CONCEPT_CD CDATA #IMPLIED
    PROVIDER_ID CDATA #IMPLIED
    START_DATE CDATA #IMPLIED
    MODIFIER_CD CDATA #IMPLIED
    INSTANCE_NUM CDATA #IMPLIED
    VALTYPE_CD CDATA #IMPLIED
    TVAL_CHAR CDATA #IMPLIED
    NVAL_NUM CDATA #IMPLIED
    VALUEFLAG_CD CDATA #IMPLIED
    QUANTITY_NUM CDATA #IMPLIED
    UNITS_CD CDATA #IMPLIED
    END_DATE CDATA #IMPLIED
    LOCATION_CD CDATA #IMPLIED
    OBSERVATION_BLOB CDATA #IMPLIED
    CONFIDENCE_NUM CDATA #IMPLIED
    UPDATE_DATE CDATA #IMPLIED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
    UPLOAD_ID CDATA #IMPLIED
    ARCHIVE_UPLOAD_ID CDATA #IMPLIED
>

<!ELEMENT CONCEPT_DIMENSION EMPTY>
<!ATTLIST CONCEPT_DIMENSION
    CONCEPT_PATH CDATA #IMPLIED
    CONCEPT_CD CDATA #IMPLIED
    NAME_CHAR CDATA #IMPLIED
    CONCEPT_BLOB CDATA #IMPLIED
    UPDATE_DATE CDATA #IMPLIED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
    UPLOAD_ID CDATA #IMPLIED
>

<!ELEMENT EK_REJECTED_OBSERVATION_FACT EMPTY>
<!ATTLIST EK_REJECTED_OBSERVATION_FACT
    ENCOUNTER_NUM CDATA #IMPLIED
    ENCOUNTER_ID CDATA #REQUIRED
    ENCOUNTER_ID_SOURCE CDATA #REQUIRED
    CONCEPT_CD CDATA #REQUIRED
    PATIENT_NUM CDATA #IMPLIED
    PATIENT_ID CDATA #REQUIRED
    PATIENT_ID_SOURCE CDATA #REQUIRED
    PROVIDER_ID CDATA #IMPLIED
    START_DATE CDATA #IMPLIED
    MODIFIER_CD CDATA #IMPLIED
    INSTANCE_NUM CDATA #IMPLIED
    VALTYPE_CD CDATA #IMPLIED
    TVAL_CHAR CDATA #IMPLIED
    NVAL_NUM CDATA #IMPLIED
    VALUEFLAG_CD CDATA #IMPLIED
    QUANTITY_NUM CDATA #IMPLIED
    CONFIDENCE_NUM CDATA #IMPLIED
    OBSERVATION_BLOB CDATA #IMPLIED
    UNITS_CD CDATA #IMPLIED
    END_DATE CDATA #IMPLIED
    LOCATION_CD CDATA #IMPLIED
    UPDATE_DATE CDATA #IMPLIED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
    UPLOAD_ID CDATA #IMPLIED
    REASON CDATA #IMPLIED
>

<!ELEMENT EK_TEMP_CONCEPT EMPTY>
<!ATTLIST EK_TEMP_CONCEPT
    CONCEPT_CD CDATA #REQUIRED
    CONCEPT_PATH CDATA #REQUIRED
    NAME_CHAR CDATA #IMPLIED
    CONCEPT_BLOB CDATA #IMPLIED
    UPDATE_DATE CDATA #IMPLIED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
>

<!ELEMENT EK_TEMP_ENCOUNTER_MAPPING EMPTY>
<!ATTLIST EK_TEMP_ENCOUNTER_MAPPING
    ENCOUNTER_MAP_ID CDATA #REQUIRED
    ENCOUNTER_MAP_ID_SOURCE CDATA #REQUIRED
    PATIENT_MAP_ID CDATA #IMPLIED
    PATIENT_MAP_ID_SOURCE CDATA #IMPLIED
    ENCOUNTER_ID CDATA #REQUIRED
    ENCOUNTER_ID_SOURCE CDATA #IMPLIED
    ENCOUNTER_NUM CDATA #IMPLIED
    ENCOUNTER_MAP_ID_STATUS CDATA #IMPLIED
    PROCESS_STATUS_FLAG CDATA #IMPLIED
    UPDATE_DATE CDATA #IMPLIED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
>

<!ELEMENT EK_TEMP_MODIFIER EMPTY>
<!ATTLIST EK_TEMP_MODIFIER
    MODIFIER_CD CDATA #REQUIRED
    MODIFIER_PATH CDATA #REQUIRED
    NAME_CHAR CDATA #IMPLIED
    MODIFIER_BLOB CDATA #IMPLIED
    UPDATE_DATE CDATA #IMPLIED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
>

<!ELEMENT EK_TEMP_OBSERVATION EMPTY>
<!ATTLIST EK_TEMP_OBSERVATION
    ENCOUNTER_NUM CDATA #IMPLIED
    ENCOUNTER_ID CDATA #REQUIRED
    ENCOUNTER_ID_SOURCE CDATA #REQUIRED
    CONCEPT_CD CDATA #REQUIRED
    PATIENT_NUM CDATA #IMPLIED
    PATIENT_ID CDATA #REQUIRED
    PATIENT_ID_SOURCE CDATA #REQUIRED
    PROVIDER_ID CDATA #IMPLIED
    START_DATE CDATA #IMPLIED
    MODIFIER_CD CDATA #IMPLIED
    INSTANCE_NUM CDATA #IMPLIED
    VALTYPE_CD CDATA #IMPLIED
    TVAL_CHAR CDATA #IMPLIED
    NVAL_NUM CDATA #IMPLIED
    VALUEFLAG_CD CDATA #IMPLIED
    QUANTITY_NUM CDATA #IMPLIED
    CONFIDENCE_NUM CDATA #IMPLIED
    OBSERVATION_BLOB CDATA #IMPLIED
    UNITS_CD CDATA #IMPLIED
    END_DATE CDATA #IMPLIED
    LOCATION_CD CDATA #IMPLIED
    UPDATE_DATE CDATA #IMPLIED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
    UPLOAD_ID CDATA #IMPLIED
>

<!ELEMENT EK_TEMP_OBSERVATION_COMPLETE EMPTY>
<!ATTLIST EK_TEMP_OBSERVATION_COMPLETE
    ENCOUNTER_NUM CDATA #IMPLIED
    ENCOUNTER_ID CDATA #REQUIRED
    ENCOUNTER_ID_SOURCE CDATA #REQUIRED
    CONCEPT_CD CDATA #REQUIRED
    PATIENT_NUM CDATA #IMPLIED
    PATIENT_ID CDATA #REQUIRED
    PATIENT_ID_SOURCE CDATA #REQUIRED
    PROVIDER_ID CDATA #IMPLIED
    START_DATE CDATA #IMPLIED
    MODIFIER_CD CDATA #IMPLIED
    INSTANCE_NUM CDATA #IMPLIED
    VALTYPE_CD CDATA #IMPLIED
    TVAL_CHAR CDATA #IMPLIED
    NVAL_NUM CDATA #IMPLIED
    VALUEFLAG_CD CDATA #IMPLIED
    QUANTITY_NUM CDATA #IMPLIED
    CONFIDENCE_NUM CDATA #IMPLIED
    OBSERVATION_BLOB CDATA #IMPLIED
    UNITS_CD CDATA #IMPLIED
    END_DATE CDATA #IMPLIED
    LOCATION_CD CDATA #IMPLIED
    UPDATE_DATE CDATA #IMPLIED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
    UPLOAD_ID CDATA #IMPLIED
>

<!ELEMENT EK_TEMP_PATIENT EMPTY>
<!ATTLIST EK_TEMP_PATIENT
    PATIENT_ID CDATA #IMPLIED
    PATIENT_ID_SOURCE CDATA #IMPLIED
    PATIENT_NUM CDATA #IMPLIED
    VITAL_STATUS_CD CDATA #IMPLIED
    BIRTH_DATE CDATA #IMPLIED
    DEATH_DATE CDATA #IMPLIED
    SEX_CD CDATA #IMPLIED
    AGE_IN_YEARS_NUM CDATA #IMPLIED
    LANGUAGE_CD CDATA #IMPLIED
    RACE_CD CDATA #IMPLIED
    MARITAL_STATUS_CD CDATA #IMPLIED
    RELIGION_CD CDATA #IMPLIED
    ZIP_CD CDATA #IMPLIED
    STATECITYZIP_PATH CDATA #IMPLIED
    PATIENT_BLOB CDATA #IMPLIED
    UPDATE_DATE CDATA #IMPLIED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
>

<!ELEMENT EK_TEMP_PATIENT_MAPPING EMPTY>
<!ATTLIST EK_TEMP_PATIENT_MAPPING
    PATIENT_MAP_ID CDATA #IMPLIED
    PATIENT_MAP_ID_SOURCE CDATA #IMPLIED
    PATIENT_ID_STATUS CDATA #IMPLIED
    PATIENT_ID CDATA #IMPLIED
    PATIENT_ID_SOURCE CDATA #IMPLIED
    PATIENT_NUM CDATA #IMPLIED
    PATIENT_MAP_ID_STATUS CDATA #IMPLIED
    PROCESS_STATUS_FLAG CDATA #IMPLIED
    UPDATE_DATE CDATA #IMPLIED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
>

<!ELEMENT EK_TEMP_PROVIDER EMPTY>
<!ATTLIST EK_TEMP_PROVIDER
    PROVIDER_ID CDATA #REQUIRED
    PROVIDER_PATH CDATA #REQUIRED
    NAME_CHAR CDATA #IMPLIED
    PROVIDER_BLOB CDATA #IMPLIED
    UPDATE_DATE CDATA #IMPLIED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
    UPLOAD_ID CDATA #IMPLIED
>

<!ELEMENT EK_TEMP_VISIT EMPTY>
<!ATTLIST EK_TEMP_VISIT
    ENCOUNTER_ID CDATA #REQUIRED
    ENCOUNTER_ID_SOURCE CDATA #REQUIRED
    PATIENT_ID CDATA #REQUIRED
    PATIENT_ID_SOURCE CDATA #REQUIRED
    ENCOUNTER_NUM CDATA #IMPLIED
    INOUT_CD CDATA #IMPLIED
    LOCATION_CD CDATA #IMPLIED
    LOCATION_PATH CDATA #IMPLIED
    START_DATE CDATA #IMPLIED
    END_DATE CDATA #IMPLIED
    VISIT_BLOB CDATA #IMPLIED
    UPDATE_DATE CDATA #IMPLIED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
    ACTIVE_STATUS_CD CDATA #IMPLIED
    LENGTH_OF_STAY CDATA #IMPLIED
>

<!ELEMENT ENCOUNTER_MAPPING EMPTY>
<!ATTLIST ENCOUNTER_MAPPING
    ENCOUNTER_IDE CDATA #IMPLIED
    ENCOUNTER_IDE_SOURCE CDATA #IMPLIED
    PROJECT_ID CDATA #IMPLIED
    ENCOUNTER_NUM CDATA #IMPLIED
    PATIENT_IDE CDATA #IMPLIED
    PATIENT_IDE_SOURCE CDATA #IMPLIED
    ENCOUNTER_IDE_STATUS CDATA #IMPLIED
    UPLOAD_DATE CDATA #IMPLIED
    UPDATE_DATE CDATA #IMPLIED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
    UPLOAD_ID CDATA #IMPLIED
>

<!ELEMENT MODIFIER_DIMENSION EMPTY>
<!ATTLIST MODIFIER_DIMENSION
    MODIFIER_PATH CDATA #IMPLIED
    MODIFIER_CD CDATA #IMPLIED
    NAME_CHAR CDATA #IMPLIED
    MODIFIER_BLOB CDATA #IMPLIED
    UPDATE_DATE CDATA #IMPLIED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
    UPLOAD_ID CDATA #IMPLIED
>

<!ELEMENT OBSERVATION_FACT EMPTY>
<!ATTLIST OBSERVATION_FACT
    ENCOUNTER_NUM CDATA #IMPLIED
    PATIENT_NUM CDATA #IMPLIED
    CONCEPT_CD CDATA #IMPLIED
    PROVIDER_ID CDATA #IMPLIED
    START_DATE CDATA #IMPLIED
    MODIFIER_CD CDATA #IMPLIED
    INSTANCE_NUM CDATA #IMPLIED
    VALTYPE_CD CDATA #IMPLIED
    TVAL_CHAR CDATA #IMPLIED
    NVAL_NUM CDATA #IMPLIED
    VALUEFLAG_CD CDATA #IMPLIED
    QUANTITY_NUM CDATA #IMPLIED
    UNITS_CD CDATA #IMPLIED
    END_DATE CDATA #IMPLIED
    LOCATION_CD CDATA #IMPLIED
    OBSERVATION_BLOB CDATA #IMPLIED
    CONFIDENCE_NUM CDATA #IMPLIED
    UPDATE_DATE CDATA #IMPLIED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
    UPLOAD_ID CDATA #IMPLIED
>

<!ELEMENT PATIENT_DIMENSION EMPTY>
<!ATTLIST PATIENT_DIMENSION
    PATIENT_NUM CDATA #IMPLIED
    VITAL_STATUS_CD CDATA #IMPLIED
    BIRTH_DATE CDATA #IMPLIED
    DEATH_DATE CDATA #IMPLIED
    SEX_CD CDATA #IMPLIED
    AGE_IN_YEARS_NUM CDATA #IMPLIED
    LANGUAGE_CD CDATA #IMPLIED
    RACE_CD CDATA #IMPLIED
    MARITAL_STATUS_CD CDATA #IMPLIED
    RELIGION_CD CDATA #IMPLIED
    ZIP_CD CDATA #IMPLIED
    STATECITYZIP_PATH CDATA #IMPLIED
    INCOME_CD CDATA #IMPLIED
    PATIENT_BLOB CDATA #IMPLIED
    UPDATE_DATE CDATA #IMPLIED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
    UPLOAD_ID CDATA #IMPLIED
>

<!ELEMENT PATIENT_MAPPING EMPTY>
<!ATTLIST PATIENT_MAPPING
    PATIENT_IDE CDATA #IMPLIED
    PATIENT_IDE_SOURCE CDATA #IMPLIED
    PATIENT_NUM CDATA #IMPLIED
    PATIENT_IDE_STATUS CDATA #IMPLIED
    PROJECT_ID CDATA #IMPLIED
    UPLOAD_DATE CDATA #IMPLIED
    UPDATE_DATE CDATA #IMPLIED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
    UPLOAD_ID CDATA #IMPLIED
>

<!ELEMENT PROVIDER_DIMENSION EMPTY>
<!ATTLIST PROVIDER_DIMENSION
    PROVIDER_ID CDATA #IMPLIED
    PROVIDER_PATH CDATA #IMPLIED
    NAME_CHAR CDATA #IMPLIED
    PROVIDER_BLOB CDATA #IMPLIED
    UPDATE_DATE CDATA #IMPLIED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
    UPLOAD_ID CDATA #IMPLIED
>

<!ELEMENT REJECTED_OBSERVATION_FACT EMPTY>
<!ATTLIST REJECTED_OBSERVATION_FACT
    ENCOUNTER_NUM CDATA #IMPLIED
    ENCOUNTER_ID CDATA #IMPLIED
    ENCOUNTER_ID_SOURCE CDATA #IMPLIED
    CONCEPT_CD CDATA #IMPLIED
    PATIENT_NUM CDATA #IMPLIED
    PATIENT_ID CDATA #IMPLIED
    PATIENT_ID_SOURCE CDATA #IMPLIED
    PROVIDER_ID CDATA #IMPLIED
    START_DATE CDATA #IMPLIED
    MODIFIER_CD CDATA #IMPLIED
    INSTANCE_NUM CDATA #IMPLIED
    VALTYPE_CD CDATA #IMPLIED
    TVAL_CHAR CDATA #IMPLIED
    NVAL_NUM CDATA #IMPLIED
    VALUEFLAG_CD CDATA #IMPLIED
    QUANTITY_NUM CDATA #IMPLIED
    CONFIDENCE_NUM CDATA #IMPLIED
    OBSERVATION_BLOB CDATA #IMPLIED
    UNITS_CD CDATA #IMPLIED
    END_DATE CDATA #IMPLIED
    LOCATION_CD CDATA #IMPLIED
    UPDATE_DATE CDATA #IMPLIED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
    UPLOAD_ID CDATA #IMPLIED
    REASON CDATA #IMPLIED
>

<!ELEMENT VISIT_DIMENSION EMPTY>
<!ATTLIST VISIT_DIMENSION
    ENCOUNTER_NUM CDATA #IMPLIED
    PATIENT_NUM CDATA #IMPLIED
    ACTIVE_STATUS_CD CDATA #IMPLIED
    START_DATE CDATA #IMPLIED
    END_DATE CDATA #IMPLIED
    INOUT_CD CDATA #IMPLIED
    LOCATION_CD CDATA #IMPLIED
    LOCATION_PATH CDATA #IMPLIED
    LENGTH_OF_STAY CDATA #IMPLIED
    VISIT_BLOB CDATA #IMPLIED
    UPDATE_DATE CDATA #IMPLIED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
    UPLOAD_ID CDATA #IMPLIED
>

<!ELEMENT DATABASECHANGELOG EMPTY>
<!ATTLIST DATABASECHANGELOG
    ID CDATA #IMPLIED
    AUTHOR CDATA #IMPLIED
    FILENAME CDATA #IMPLIED
    DATEEXECUTED CDATA #IMPLIED
    ORDEREXECUTED CDATA #IMPLIED
    EXECTYPE CDATA #IMPLIED
    MD5SUM CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    COMMENTS CDATA #IMPLIED
    LIQUIBASE CDATA #IMPLIED
>

<!ELEMENT DATABASECHANGELOGLOCK EMPTY>
<!ATTLIST DATABASECHANGELOGLOCK
    ID CDATA #IMPLIED
    LOCKED CDATA #IMPLIED
>

