src/test/resources/truth/i2b2LoadTestMeta.dtd

<!ELEMENT dataset (
    DATABASECHANGELOG*,
    DATABASECHANGELOGLOCK*,
    EK_DEMOG*,
    EK_ICD9D*,
    EK_ICD9P*,
    EK_LABS*,
    EK_MED_ORDERS*,
    EK_MODIFIER_INTERP*,
    EK_TEMP_UNIQUE_IDS*,
    EK_VITALS*,
    EUREKAPHENOTYPEONTOLOGY*,
    TABLE_ACCESS*)>

<!ELEMENT DATABASECHANGELOG EMPTY>
<!ATTLIST DATABASECHANGELOG
    ID CDATA #REQUIRED
    AUTHOR CDATA #REQUIRED
    FILENAME CDATA #REQUIRED
    DATEEXECUTED CDATA #REQUIRED
    ORDEREXECUTED CDATA #REQUIRED
    EXECTYPE CDATA #REQUIRED
    MD5SUM CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    COMMENTS CDATA #IMPLIED
    TAG CDATA #IMPLIED
    LIQUIBASE CDATA #IMPLIED
    CONTEXTS CDATA #IMPLIED
    LABELS CDATA #IMPLIED
>

<!ELEMENT DATABASECHANGELOGLOCK EMPTY>
<!ATTLIST DATABASECHANGELOGLOCK
    ID CDATA #REQUIRED
    LOCKED CDATA #REQUIRED
    LOCKGRANTED CDATA #IMPLIED
    LOCKEDBY CDATA #IMPLIED
>

<!ELEMENT EK_DEMOG EMPTY>
<!ATTLIST EK_DEMOG
    C_HLEVEL CDATA #REQUIRED
    C_FULLNAME CDATA #REQUIRED
    C_NAME CDATA #REQUIRED
    C_SYNONYM_CD CDATA #REQUIRED
    C_VISUALATTRIBUTES CDATA #REQUIRED
    C_TOTALNUM CDATA #IMPLIED
    C_BASECODE CDATA #IMPLIED
    C_METADATAXML CDATA #IMPLIED
    C_FACTTABLECOLUMN CDATA #REQUIRED
    C_TABLENAME CDATA #REQUIRED
    C_COLUMNNAME CDATA #REQUIRED
    C_COLUMNDATATYPE CDATA #REQUIRED
    C_OPERATOR CDATA #REQUIRED
    C_DIMCODE CDATA #REQUIRED
    C_COMMENT CDATA #IMPLIED
    C_TOOLTIP CDATA #IMPLIED
    M_APPLIED_PATH CDATA #REQUIRED
    UPDATE_DATE CDATA #REQUIRED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
    VALUETYPE_CD CDATA #IMPLIED
    M_EXCLUSION_CD CDATA #IMPLIED
    C_PATH CDATA #IMPLIED
    C_SYMBOL CDATA #IMPLIED
    EK_UNIQUE_ID CDATA #REQUIRED
>

<!ELEMENT EK_ICD9D EMPTY>
<!ATTLIST EK_ICD9D
    C_HLEVEL CDATA #REQUIRED
    C_FULLNAME CDATA #REQUIRED
    C_NAME CDATA #REQUIRED
    C_SYNONYM_CD CDATA #REQUIRED
    C_VISUALATTRIBUTES CDATA #REQUIRED
    C_TOTALNUM CDATA #IMPLIED
    C_BASECODE CDATA #IMPLIED
    C_METADATAXML CDATA #IMPLIED
    C_FACTTABLECOLUMN CDATA #REQUIRED
    C_TABLENAME CDATA #REQUIRED
    C_COLUMNNAME CDATA #REQUIRED
    C_COLUMNDATATYPE CDATA #REQUIRED
    C_OPERATOR CDATA #REQUIRED
    C_DIMCODE CDATA #REQUIRED
    C_COMMENT CDATA #IMPLIED
    C_TOOLTIP CDATA #IMPLIED
    M_APPLIED_PATH CDATA #REQUIRED
    UPDATE_DATE CDATA #REQUIRED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
    VALUETYPE_CD CDATA #IMPLIED
    M_EXCLUSION_CD CDATA #IMPLIED
    C_PATH CDATA #IMPLIED
    C_SYMBOL CDATA #IMPLIED
    EK_UNIQUE_ID CDATA #REQUIRED
>

<!ELEMENT EK_ICD9P EMPTY>
<!ATTLIST EK_ICD9P
    C_HLEVEL CDATA #REQUIRED
    C_FULLNAME CDATA #REQUIRED
    C_NAME CDATA #REQUIRED
    C_SYNONYM_CD CDATA #REQUIRED
    C_VISUALATTRIBUTES CDATA #REQUIRED
    C_TOTALNUM CDATA #IMPLIED
    C_BASECODE CDATA #IMPLIED
    C_METADATAXML CDATA #IMPLIED
    C_FACTTABLECOLUMN CDATA #REQUIRED
    C_TABLENAME CDATA #REQUIRED
    C_COLUMNNAME CDATA #REQUIRED
    C_COLUMNDATATYPE CDATA #REQUIRED
    C_OPERATOR CDATA #REQUIRED
    C_DIMCODE CDATA #REQUIRED
    C_COMMENT CDATA #IMPLIED
    C_TOOLTIP CDATA #IMPLIED
    M_APPLIED_PATH CDATA #REQUIRED
    UPDATE_DATE CDATA #REQUIRED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
    VALUETYPE_CD CDATA #IMPLIED
    M_EXCLUSION_CD CDATA #IMPLIED
    C_PATH CDATA #IMPLIED
    C_SYMBOL CDATA #IMPLIED
    EK_UNIQUE_ID CDATA #REQUIRED
>

<!ELEMENT EK_LABS EMPTY>
<!ATTLIST EK_LABS
    C_HLEVEL CDATA #REQUIRED
    C_FULLNAME CDATA #REQUIRED
    C_NAME CDATA #REQUIRED
    C_SYNONYM_CD CDATA #REQUIRED
    C_VISUALATTRIBUTES CDATA #REQUIRED
    C_TOTALNUM CDATA #IMPLIED
    C_BASECODE CDATA #IMPLIED
    C_METADATAXML CDATA #IMPLIED
    C_FACTTABLECOLUMN CDATA #REQUIRED
    C_TABLENAME CDATA #REQUIRED
    C_COLUMNNAME CDATA #REQUIRED
    C_COLUMNDATATYPE CDATA #REQUIRED
    C_OPERATOR CDATA #REQUIRED
    C_DIMCODE CDATA #REQUIRED
    C_COMMENT CDATA #IMPLIED
    C_TOOLTIP CDATA #IMPLIED
    M_APPLIED_PATH CDATA #REQUIRED
    UPDATE_DATE CDATA #REQUIRED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
    VALUETYPE_CD CDATA #IMPLIED
    M_EXCLUSION_CD CDATA #IMPLIED
    C_PATH CDATA #IMPLIED
    C_SYMBOL CDATA #IMPLIED
    EK_UNIQUE_ID CDATA #REQUIRED
>

<!ELEMENT EK_MED_ORDERS EMPTY>
<!ATTLIST EK_MED_ORDERS
    C_HLEVEL CDATA #REQUIRED
    C_FULLNAME CDATA #REQUIRED
    C_NAME CDATA #REQUIRED
    C_SYNONYM_CD CDATA #REQUIRED
    C_VISUALATTRIBUTES CDATA #REQUIRED
    C_TOTALNUM CDATA #IMPLIED
    C_BASECODE CDATA #IMPLIED
    C_METADATAXML CDATA #IMPLIED
    C_FACTTABLECOLUMN CDATA #REQUIRED
    C_TABLENAME CDATA #REQUIRED
    C_COLUMNNAME CDATA #REQUIRED
    C_COLUMNDATATYPE CDATA #REQUIRED
    C_OPERATOR CDATA #REQUIRED
    C_DIMCODE CDATA #REQUIRED
    C_COMMENT CDATA #IMPLIED
    C_TOOLTIP CDATA #IMPLIED
    M_APPLIED_PATH CDATA #REQUIRED
    UPDATE_DATE CDATA #REQUIRED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
    VALUETYPE_CD CDATA #IMPLIED
    M_EXCLUSION_CD CDATA #IMPLIED
    C_PATH CDATA #IMPLIED
    C_SYMBOL CDATA #IMPLIED
    EK_UNIQUE_ID CDATA #REQUIRED
>

<!ELEMENT EK_MODIFIER_INTERP EMPTY>
<!ATTLIST EK_MODIFIER_INTERP
    DECLARING_CONCEPT CDATA #REQUIRED
    C_BASECODE CDATA #REQUIRED
    PROPERTYNAME CDATA #REQUIRED
    DISPLAYNAME CDATA #IMPLIED
>

<!ELEMENT EK_TEMP_UNIQUE_IDS EMPTY>
<!ATTLIST EK_TEMP_UNIQUE_IDS
    UNIQUE_ID CDATA #IMPLIED
>

<!ELEMENT EK_VITALS EMPTY>
<!ATTLIST EK_VITALS
    C_HLEVEL CDATA #REQUIRED
    C_FULLNAME CDATA #REQUIRED
    C_NAME CDATA #REQUIRED
    C_SYNONYM_CD CDATA #REQUIRED
    C_VISUALATTRIBUTES CDATA #REQUIRED
    C_TOTALNUM CDATA #IMPLIED
    C_BASECODE CDATA #IMPLIED
    C_METADATAXML CDATA #IMPLIED
    C_FACTTABLECOLUMN CDATA #REQUIRED
    C_TABLENAME CDATA #REQUIRED
    C_COLUMNNAME CDATA #REQUIRED
    C_COLUMNDATATYPE CDATA #REQUIRED
    C_OPERATOR CDATA #REQUIRED
    C_DIMCODE CDATA #REQUIRED
    C_COMMENT CDATA #IMPLIED
    C_TOOLTIP CDATA #IMPLIED
    M_APPLIED_PATH CDATA #REQUIRED
    UPDATE_DATE CDATA #REQUIRED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
    VALUETYPE_CD CDATA #IMPLIED
    M_EXCLUSION_CD CDATA #IMPLIED
    C_PATH CDATA #IMPLIED
    C_SYMBOL CDATA #IMPLIED
    EK_UNIQUE_ID CDATA #REQUIRED
>

<!ELEMENT EUREKAPHENOTYPEONTOLOGY EMPTY>
<!ATTLIST EUREKAPHENOTYPEONTOLOGY
    C_HLEVEL CDATA #REQUIRED
    C_FULLNAME CDATA #REQUIRED
    C_NAME CDATA #REQUIRED
    C_SYNONYM_CD CDATA #REQUIRED
    C_VISUALATTRIBUTES CDATA #REQUIRED
    C_TOTALNUM CDATA #IMPLIED
    C_BASECODE CDATA #IMPLIED
    C_METADATAXML CDATA #IMPLIED
    C_FACTTABLECOLUMN CDATA #REQUIRED
    C_TABLENAME CDATA #REQUIRED
    C_COLUMNNAME CDATA #REQUIRED
    C_COLUMNDATATYPE CDATA #REQUIRED
    C_OPERATOR CDATA #REQUIRED
    C_DIMCODE CDATA #REQUIRED
    C_COMMENT CDATA #IMPLIED
    C_TOOLTIP CDATA #IMPLIED
    M_APPLIED_PATH CDATA #REQUIRED
    UPDATE_DATE CDATA #REQUIRED
    DOWNLOAD_DATE CDATA #IMPLIED
    IMPORT_DATE CDATA #IMPLIED
    SOURCESYSTEM_CD CDATA #IMPLIED
    VALUETYPE_CD CDATA #IMPLIED
    M_EXCLUSION_CD CDATA #IMPLIED
    C_PATH CDATA #IMPLIED
    C_SYMBOL CDATA #IMPLIED
>

<!ELEMENT TABLE_ACCESS EMPTY>
<!ATTLIST TABLE_ACCESS
    C_TABLE_CD CDATA #REQUIRED
    C_TABLE_NAME CDATA #REQUIRED
    C_PROTECTED_ACCESS CDATA #IMPLIED
    C_HLEVEL CDATA #REQUIRED
    C_FULLNAME CDATA #REQUIRED
    C_NAME CDATA #REQUIRED
    C_SYNONYM_CD CDATA #REQUIRED
    C_VISUALATTRIBUTES CDATA #REQUIRED
    C_TOTALNUM CDATA #IMPLIED
    C_BASECODE CDATA #IMPLIED
    C_METADATAXML CDATA #IMPLIED
    C_FACTTABLECOLUMN CDATA #REQUIRED
    C_DIMTABLENAME CDATA #REQUIRED
    C_COLUMNNAME CDATA #REQUIRED
    C_COLUMNDATATYPE CDATA #REQUIRED
    C_OPERATOR CDATA #REQUIRED
    C_DIMCODE CDATA #REQUIRED
    C_COMMENT CDATA #IMPLIED
    C_TOOLTIP CDATA #IMPLIED
    C_ENTRY_DATE CDATA #IMPLIED
    C_CHANGE_DATE CDATA #IMPLIED
    C_STATUS_CD CDATA #IMPLIED
    VALUETYPE_CD CDATA #IMPLIED
>

